
{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7a8bda;
  color: white;
}
</style>
  </head>
  <body>

    <h1>Job List</h1>
    <h2>You search for {{query}}</h2>

    <table id="customers">
      <tr>
        <th>Job Title</th>
        <th>Description</th>
        <th>Skill</th>
      </tr>

      {% for i in search %}
      <tr>
        <td> {{i.title}} </td>
        <td> {{i.jobDescription}} </td>
        <td> {{i.skill}} </td>

      </tr>
      {% endfor %}

    </table>
  </body>
</html>
{% endblock content %}

