<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h2>Sign In</h2>
        <form action method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"
                id><br><br>
            <input type="password" name="password" placeholder="password"
                id><br><br>

            <input type="submit" value="Sign In" id>
            <a href="{% url 'signup' %}">Create Account</a>
        </form>
    </body>
</html>